<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" value="{{this.title}}">
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Year</label>
    <input type="year" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="year" value="{{this.year}}">
  </div>
  
  <div class="mb-3">
    <label for="floatingTextarea2" class="form-label">Description</label>
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="description">{{this.description}}</textarea>
</div>

<div class = 'col-12 d-grid pt-3'>
    <button type="submit" class="btn btn-dark">Submit</button>
</div>
  
