<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Power BI Report</li>
  </ol>
</nav>


<div>
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=cee3c4a8-1c60-44b6-b002-b8e586bbf58d&autoAuth=true&ctid=ce8a2002-448f-4f58-82b1-d86f73e3afdd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    
    </div>